<!DOCTYPE html>
<head>
    <title>Basic Node App
    </title>
</head>
<body>
    <h1>single Article View</h1>
    <h2>Title: <%= article.title %> </h2>
    <p> <%= article.content %> </p>
</body>
</html>